.stage-view.main {
  .tabs-content {
    
  }

  .main-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;

    > img {
      animation-duration: 10000ms;
      animation-delay: 1000ms;
    }
  }

  .list-panel {
    padding: 0;
    .selectable-list {
      > li {
        padding: 24px 12px;
      }
    }
  }
  
}

.actionbar.main > .logo {
  // width: 24px;
  margin: 0 8px 0 16px;
}