@import "colors.less";

.field-container {
  background: lighten(@bg-color, 5%);
}

button, .button, input[type=button], input[type=submit], input[type=reset] {
  border: 0;

  border-radius: 25px;

  &.primary {
    // border: 2px solid rgba(0,0,0,0.03);
  }
  &:focus {
    // box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.09);
  }
}